<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<h1>Sign up for your free account!</h1>
			<%= render 'form' %>
			<%= link_to 'Back', root_path %>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>