// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*#welcome {
	height: 657px;
	width: 1600px;
	background-image: image_url("color-coded-bookshelves.jpg");
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
	text-align: center;
	font-family: Monotype Corsiva, cursive;
}*/

#background-welcome {
	margin-top: 45px;
	height: 657px;
	width: 1600px;
    background-color: #f3f3f3;
    background-image: image_url("color-coded-bookshelves.jpg");
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

#welcome {
	position:fixed;
    top: 45%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    text-align: center;
    font-family: Monotype Corsiva, cursive;
}

#welcome > a {
    color: blue;
}

#welcome > a:hover {
    background: none;
    text-shadow: 1px 1px 3px #666666;
    text-decoration: none;

}
